<publishData>
  <publishProfile profileName="${host} - Web Deploy" publishMethod="MSDeploy" publishUrl="${host}.scm.azurewebsites.net:443" msdeploySite="${host}" userName="${user}" userPWD="${password}" destinationAppUrl="https://${host}.azurewebsites.net" SQLServerDBConnectionString="" mySQLDBConnectionString="" hostingProviderForumLink="" controlPanelLink="http://windows.azure.com" webSystem="WebSites">
    <databases/>
  </publishProfile>
  <publishProfile profileName="${host} - Zip Deploy" publishMethod="ZipDeploy" publishUrl="${host}.scm.azurewebsites.net:443" userName="${user}" userPWD="${password}" destinationAppUrl="https://${host}.azurewebsites.net" SQLServerDBConnectionString="" mySQLDBConnectionString="" hostingProviderForumLink="" controlPanelLink="http://windows.azure.com" webSystem="WebSites">
    <databases/>
  </publishProfile>
</publishData>